# Create a .env file following this template
OPENAI_API_KEY="<your open ai api key>"
MODAIC_TOKEN="<your modaic token>" # navigate to modaic.dev > profile icon in top right corner > Access Tokens to generate your token
